*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: white;
}

/* ScrollReveal */

.logo_title, .game{
  visibility: hidden;
}

.background{
  position: fixed;
  inset: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
}

.background img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background::after{
  content: '';

  width: inherit;
  height: inherit;
  position: fixed;
  inset: 0;
  opacity: 0.5;
  background: linear-gradient(-233deg, #000 100%, rgba(0, 0, 0, 0) 65%) ;
}

.logo_title{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 90px;
}

.logo_title img{
width: 10%;
}

/* SECTION GAMES */

.nb{
  display: flex;
  justify-content: center;
  gap: 100%;
  text-align: center;
}

.game{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  gap: 20%;

  margin-top: 6%;
}

/* LAKERS */
.lak{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.lak img{
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}

.lak img:hover{
  transform: translateY(-10px);
  box-shadow: 5px 5px 20px yellow;
}

.lak h2{
  margin-top: 15%;

  font-weight: 500;
  font-size: 30px;
  padding: 4px 10px 4px 10px;

}

.lak h3{
  margin-top: 15%;

  background-color: white;
  color: black;
  padding: 5%;

  border-radius: 3rem;

  font-size: 20px;
}

/* CHICAGO BULLS */
.bulls{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.bulls img{
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}

.bulls img:hover{
  transform: translateY(-10px);
  box-shadow: 5px 5px 20px red;
}

.bulls h2{
  margin-top: 15%;

  font-weight: 500;
  font-size: 30px;
  padding: 4px 10px 4px 10px;
}

.bulls h3{
  margin-top: 15%;

  background-color: white;
  color: black;
  padding: 6%;

  border-radius: 3rem;

  font-size: 20px;
}

/* PLACAR */

.scoreboard{
  margin-top: 5%;
  background-color: #B52532;
  padding: 8px 32px 8px 32px;
  border-radius: 32px;
  margin-bottom: 5%;
}

.scoreboard h2{
  font-weight: 400;
  text-transform: uppercase;
}

.day-game{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(91,43,130);
background: linear-gradient(90deg, rgba(91,43,130,1) 49%, rgba(253,186,38,1) 49%);

  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;

  padding: 50px;
}

.time{
  display: flex;
  align-items: center;
  justify-content: center;
}

.information{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

